/* Work */



/*

@font-face {
    font-family: 'Brandon Grotesque BoldItalic';
    src: 
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque Black';
    src: 
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque RegularItalic';
    src: 
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque MediumItalic';
    src:
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque LightItalic';
    src:
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



*/